
@model MVC.Models.gmail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Mail", "EmaiSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <h1> How To configure SMTP of gmail</h1>
            <h2>Using MVC - 5(asp.net) </h2>

                <table>


                    <tr>
                        <td style="width = 80px">
                            To

                        </td>
                        <td>@Html.TextBoxFor(model => model.To)</td>
                    </tr>
                    <tr>
                        <td>
                            Subject
                        </td>
                        <td>@Html.TextBoxFor(model => model.Subject)</td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Body
                        </td>
                        <td>@Html.TextAreaFor(model => model.Body, new { rows = "15", cols = "25" })</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Send" />

                        </td>


                    </tr>
                </table>
                <br />
                <span style="color:green">@ViewBag.Message</span>

        }
        <div>@Html.ActionLink("Back to list", "Index")</div>

    </div>

</body>
</html>
